body {
  font-family: cursive;
  font-style: normal;
  background-image: url(https://images.squarespace-cdn.com/content/v1/583562d1e4fcb5ab0edb258a/1492428469683-7V5NTB4ZQJ06BKEGHTAU/ke17ZwdGBToddI8pDm48kHU5oCLg2uE3_fFftQbm99N7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UUqBXoD9R1xL2AsL6tepQKif4Ujmgd-FGIah_swbD0bPQADPtwErjFPsenxaex4sAg/ZGK_kente.jpg?format=1500w);
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: auto;
  image-rendering: crisp-edges;
  
}
h1 {
  color: antiquewhite;
}
.wrapper {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 25px;
  padding: 15px;
}
.wrapper h2 {
  text-align: center;
}
.wrapper h3 {
  text-align: center;
  color: black;
}
.wrapper .inputfield {
  margin-bottom: 10px;
}
.wrapper #errormessage {
  margin-bottom: 20px;
  background-color: red;
  padding: 0px;
  text-align: center;
  color: black;
}