body {
  font-family: cursive;
  font-style: normal;
  background-image: url(/home/joan/Documents/moringa-school-projects/akan-name/images/ZGK_kente.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: auto;
  image-rendering: crisp-edges;
  
}
.wrapper {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 25px;
  padding: 15px;
}
.wrapper h2 {
  text-align: center;
}
.wrapper h3 {
  text-align: center;
  color: black;
}
.wrapper .inputfield {
  margin-bottom: 10px;
}
.wrapper #errormessage {
  margin-bottom: 20px;
  background-color: red;
  padding: 0px;
  text-align: center;
  color: black;
}